[Desktop Entry]
Version=1.0
Name=Maps
Name[af]=Padkaart
Name[an]=Mapas
Name[ar]=الخرائط
Name[as]=মানচিত্ৰ
Name[ca]=Mapes
Name[ca@valencia]=Mapes
Name[cs]=Mapy
Name[da]=Kort
Name[de]=Karten
Name[el]=Χάρτες
Name[en_GB]=Maps
Name[eo]=Mapoj
Name[es]=Mapas
Name[et]=Kaardid
Name[eu]=Mapak
Name[fa]=نقشه‌ها
Name[fi]=Kartat
Name[fr]=Cartes
Name[fur]=Mapis
Name[ga]=Léarscáileanna
Name[gl]=Mapas
Name[he]=מפות
Name[hu]=Térképek
Name[id]=Peta
Name[it]=Mappe
Name[ja]=地図
Name[kn]=ಮ್ಯಾಪ್ಸ್
Name[ko]=지도
Name[lt]=Žemėlapiai
Name[lv]=Kartes
Name[ml]=ഭൂപടങ്ങള്‍
Name[nb]=Kart
Name[nl]=Kaarten
Name[pa]=ਨਕਸ਼ੇ
Name[pl]=Mapy
Name[pt]=Mapas
Name[pt_BR]=Mapas
Name[ro]=Maps
Name[ru]=Карты
Name[sk]=Mapy
Name[sl]=Zemljevidi
Name[sr]=Карте
Name[sr@latin]=Karte
Name[sv]=Kartor
Name[te]=పటాలు
Name[tg]=Харитаҳо
Name[tr]=Haritalar
Name[uk]=Карти
Name[zh_CN]=地图
Name[zh_HK]=地圖
Name[zh_TW]=地圖
Comment=A simple maps application
Comment[af]='n Eenvoudige padkaart-toepassing
Comment[an]=Una aplicación simpla de mapas
Comment[ar]=تطبيق خرائط بسيط
Comment[as]=এটা সাধাৰণ মানচিত্ৰ এপ্লিকেচন
Comment[ca]=Una aplicació senzilla de mapes
Comment[ca@valencia]=Una aplicació senzilla de mapes
Comment[cs]=Jednoduchá mapová aplikace
Comment[da]=Et simpelt kortprogram
Comment[de]=Eine einfache Karten-Anwendung
Comment[el]=Μια απλή εφαρμογή χαρτών
Comment[en_GB]=A simple maps application
Comment[eo]=Simpla mapa aplikaĵo
Comment[es]=Una sencilla aplicación de mapas
Comment[et]=Lihtne kaardirakendus
Comment[eu]=Mapen aplikazio xume bat
Comment[fa]=یک برنامه ساده نقشه
Comment[fi]=Yksinkertainen karttasovellus
Comment[fr]=Une application cartographique simple
Comment[fur]=Une semplice aplicazion par lis mapis
Comment[ga]=Feidhmchlár simplí léarscáileanna
Comment[gl]=Un aplicativo sinxelo de mapas
Comment[he]=יישום מפות פשוט
Comment[hu]=Egyszerű térképalkalmazás
Comment[id]=Aplikasi peta sederhana
Comment[it]=Una semplice applicazione per le mappe
Comment[ja]=シンプルな地図アプリケーション
Comment[kn]=ಒಂದು ಸರಳ ನಕ್ಷೆಗಳ ಅನ್ವಯ
Comment[ko]=간단한 지도 프로그램
Comment[lt]=Paprasta žemėlapių programa
Comment[lv]=Vienkārša karšu lietotnes
Comment[ml]=ലളിതമായ ഒരു ഭൂപട പ്രയോഗം
Comment[nb]=Et enkelt program for kart
Comment[nl]=Een eenvoudige kaartentoepassing
Comment[pa]=ਸੌਖੀ ਨਕਸ਼ਾ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Prosty program do wyświetlania map
Comment[pt]=Uma aplicação simples para visualização de mapas
Comment[pt_BR]=Um simples aplicativo de mapas
Comment[ro]=O simplă aplicație cu hărți
Comment[ru]=Простое приложение для карт
Comment[sk]=Jednoduchá aplikácia na prezeranie máp
Comment[sl]=Enostaven program za zemljevide
Comment[sr]=Једноставан програм за карте
Comment[sr@latin]=Jednostavan program za karte
Comment[sv]=Ett enkelt kartprogram
Comment[te]=ఒక సరళ పటముల అనువర్తనం
Comment[tg]=Барномаи оддии харитаҳо
Comment[tr]=Basit bir harita uygulaması
Comment[uk]=Проста програма для роботи з картами
Comment[zh_CN]=一款简单的地图应用程序
Comment[zh_HK]=簡單的地圖應用程式
Comment[zh_TW]=簡單的地圖應用程式
Exec=gnome-maps
Icon=gnome-maps
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
Keywords=Maps;
Keywords[af]=Maps;Padkaart;Kaart;Ligging;
Keywords[an]=Mapas;
Keywords[ar]=خرائط;
Keywords[as]=মানচিত্ৰ;
Keywords[ca]=mapes;
Keywords[ca@valencia]=mapes;
Keywords[cs]=mapa;mapy;
Keywords[da]=Kort;
Keywords[de]=Karten;
Keywords[el]=Χάρτες;
Keywords[en_GB]=Maps;
Keywords[eo]=Mapoj;
Keywords[es]=Mapas;
Keywords[et]=Kaardid;Kaart;
Keywords[eu]=Mapak;
Keywords[fa]=نقشه;نقشه‌ها;
Keywords[fi]=Maps;Kartta;Kartat;
Keywords[fr]=Cartes;
Keywords[fur]=Mapis;
Keywords[ga]=Léarscáileanna;
Keywords[gl]=Mapas;
Keywords[he]=מפות;
Keywords[hu]=Térképek;
Keywords[id]=Peta;
Keywords[it]=Mappe;
Keywords[ja]=Maps;地図;マップ;
Keywords[kn]=ನಕ್ಷೆಗಳು;
Keywords[ko]=Maps;지도;
Keywords[lt]=Žemėlapiai;
Keywords[lv]=Kartes;
Keywords[ml]=Maps;
Keywords[nb]=Kart;
Keywords[nl]=Maps;Kaarten;
Keywords[pa]=ਨਕਸ਼ੇ;
Keywords[pl]=Mapy;Położenie;Geografia;GPS;
Keywords[pt]=Mapas;
Keywords[pt_BR]=Mapas;
Keywords[ro]=Maps;Hărți;
Keywords[ru]=Карты;
Keywords[sk]=Mapy;
Keywords[sl]=Zemljevidi;Karte;
Keywords[sr]=карте;мапе;
Keywords[sr@latin]=karte;mape;
Keywords[sv]=Kartor;
Keywords[te]=పటాలు;
Keywords[tg]=Харитаҳо;
Keywords[tr]=Haritalar;
Keywords[uk]=Карти;
Keywords[zh_CN]=Maps;地图;
Keywords[zh_HK]=Maps;地圖;
Keywords[zh_TW]=Maps;地圖;
DBusActivatable=true
